*.pyc
*/cache/
.svn
*.old
*.old.*
*.bak
/nbproject/
*/nbproject/
librairie/
config/config.php
services/config.php

node_modules/
npm-debug.log
doc/interfaces/navigateur/

.vagrant
puppet/externalmodules