#ignorer tout par défaut
*


#Sauf
!bower.json
!.bowerrc
!config/
!config/**
!doc/
!doc/**
!edition/
!edition/**
!.gitignore
!Gruntfile.js
!interfaces/
!interfaces/**
!LICENCE.txt
!LICENSE_ENGLISH.txt
!package.json
!pilotage/
!pilotage/**
!puppet/
!puppet/**
!readme.md
!services/
!services/**
!Vagrantfile
!xml/
!xml/**


#ignorer
*.pyc
*/cache/
*.old
*.old.*
*.bak
config/config.php
doc/interfaces/navigateur/
puppet/externalmodules
services/config.php