#ignorer
*.pyc
*/cache/
*.old
*.old.*
*.bak
*.log
*.svn
*.vagrant

nbproject/
doc/interfaces/navigateur/
puppet/externalmodules/
modules/
node_modules/
librairie/
pilotage/

configGrunt.json
modules.json
config/config.php
services/config.php

