/*
Inspiré de https://github.com/grokys/css-treeview
Couleurs des .wrap-* provenant de http://colorbrewer2.org/?type=qualitative&scheme=Paired&n=12
*/
/* 
    Created on : 2014-03-10 14:00:00
    Author     : Nicolas Brisebois-Tétreault
*/

body.wait *, body.wait{
    cursor: wait !important;
}

/* Don't display bullets. */
.css-treeview {
    list-style: none;
    line-height: 2em;
}
/* Align the label and provide a pointer cursor. */
.css-treeview label {
    display: inline;
    vertical-align: middle;
    font-weight:normal;
}
/* Highlight selected nodes. 
.css-treeview label.selected {
    background-color: #08C;
    color: white;
    padding: 2px;
}*/
/* Hide child nodes of an unchecked expander. */
.css-treeview input.expander ~ ul {
    display: none;
}
/* Show child nodes of a checked expander. */
.css-treeview input.expander:checked ~ ul {
    display: block;
}
/* Hide the expander checkbox. */
.css-treeview input.expander {
    position: absolute;
    opacity: 0;
}
/* Don't change the cursor for disabled expanders. */
.css-treeview input.expander:disabled {
    cursor: default
}
/* Remove the margin from actual checkboxes. */
.css-treeview input.check {
    margin: 0;
}

/* Before a disabled node's expander span, add a blank 20px padding */
.css-treeview input.expander:disabled + span.expander::before {
    content: '';
    padding-right: 20px;
}
/* Before an unexpanded node's expander span, display the '>' expand icon */
.css-treeview input.expander:enabled + span.expander::before {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAYAAAAbifjMAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAHtJREFUSEvtlEsKwCAMRHP/S6fYUhDsfETSQnEhrvIcM5NEZsbKWSpuD9cB4mTr70EFDeBAJEBBLACD2AAEeQ+AHLEUMDslQGWBAlRxbZSd17eCa9TrFso3LtxbSN29uqEHM8WwiQjy1Bc5jWq5UhtV8R9z4KaP5mAWcgD5xILE2Y3q1wAAAABJRU5ErkJggg==');
    background-position: 0 0;
    content: '';
    padding-right: 20px;
}
/* Before an expanded node's expander span, display the 'V' expanded icon */
.css-treeview input.expander:checked:enabled + span.expander::before {
    background-position: 1px 16px;
}
.wrap {
    padding: 2px;
    margin: 0;
    width: 20px;
    height: 20px;
}
.css-treeview .wrap input {
    margin: 3px 3px 3px 4px;
}

.legende{
    width:20px;
    height:20px;
    background-repeat:no-repeat;
    background-position: 5px 3px;
}

.legende li{
    background-color:#eee;
}

.wrap-visible,
.legende-visible{
    background-color: #a6cee3;
}
.wrap-active, 
.legende-active {
    background-color: #b2df8a;
}
.wrap-lecture,
.legende-lecture{
    background-color: #1f78b4;
}
.wrap-analyse, 
.legende-analyse {
    background-color: #b15928;
}

.wrap-ecriture,
.legende-ecriture{
    background-color: #4daf4a;
}
.wrap-export,
.legende-export{
    background-color: #984ea3; 
}
.wrap-association,
.legende-association{
    background-color: #fb9a99;
}
.legende-coche{
    background-image: url('img/check.png');
}

.legende-partiel{
    background-image: url('img/check-partiel.png');
}
.legende-partiel-gris{
    background-image: url('img/check-partiel-gris.png');
}
.legende-complet{
    background-image: url('img/check-complet.png');
}
.legende-complet-gris{
    background-image: url('img/check-complet-gris.png');
}
.legende-exclu{
    background-image: url('img/check-exclu.png');
}

input.exclu{
    margin-right:10px;
}
.lien-couche,
.lien-groupe{
    margin-left:10px;
}

.conteneur-legende{
    text-align: left;
    padding-bottom:2em;
    background-color:#eee;
}
.conteneur-legende ul{
    list-style-type: none;
    padding:0; 
    margin:0;
}
.conteneur-legende li{
    padding:5px 0;

}
.conteneur-legende span.legende{
  margin-right:5px;
    padding: 2px 10px;
}
.conteneur-legende span.glyphicon{
    cursor:help;
}

/*
    Cache les cases à cocher et les remplaces par des images
    :not(#foo) > La personalisation ne fonctionne pas sur les vieux navigateurs
*/
:not(#foo) > input.check {
    opacity: 0;/* Cacher la cch, qui demeure clicable */
    display:none;
    width: 18px;
}

:not(#foo) > input.check + label {
    margin: 0;
    clear: none;
    margin:0 0 0 5px;
    padding: 5px 0 4px 16px;/* Laisser de l'espace pour l'image*/
    cursor: pointer;
    background: url('img/uncheck.png') left center no-repeat;
}

:not(#foo) > input.check:checked + label {
    background-image: url('img/check.png');
}

:not(#foo) > input.check:checked:disabled + label {
    background-image: url('img/check-disabled.png');
    cursor:no-drop;
}

:not(#foo) > input.check-complet + label{
    
    background-image: url('img/check-complet.png');
}

:not(#foo) > input.check-complet-gris + label{
    
    background-image: url('img/check-complet-gris.png');
}

:not(#foo) > input.check-partiel + label{
    background-image: url('img/check-partiel.png');
}

:not(#foo) > input.check-partiel-gris + label{
    background-image: url('img/check-partiel-gris.png');
}


:not(#foo) > input.check-exclu + label{
    background-image: url('img/check-exclu.png');
}

.css-treeview .action{
    cursor:pointer;
    margin:0 5px;
    padding:0 5px;
}

.css-treeview .action-deplacer{
    font-weight:bold;
    font-size:16px;
}

.afficher{
    display:visible;
}

.masquer{
    display:none;
}

 .ui-state-highlight { 
     height: 1.5em; 
     line-height: 1.2em;
     display: visible; 
     border-style: dotted;
     border-color:grey;
     width:200px;
 }

 .exclu .libelle{
     text-decoration:line-through;
 }
 
 :not(#foo)  > .exclu .check.visible + label {
     background-image: url('img/check-exclu.png');
 }
 