.float-left {
    float: left;
}
.clear-left {
    clear: left;
}

.multilineColumn .x-grid3-cell-inner {
	white-space:  normal !important;
}
.olLayerGrid .olTileImage {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: all 0 none;
    transition: none;
}
/* Changement OL pour ne pas afficher les tuiles roses en cas d'erreur. */
.olImageLoadError { 
display: none !important; 
}
/* Changement pour OpenLayers au MSP, car demande moins de CPU au client pour afficher couche WMS dans Igo */
img.olTileImage {
    -webkit-transform: inherit;
    -moz-transform: inherit;
    -o-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
    -webkit-backface-visibility: inherit;
    -moz-backface-visibility: inherit;
    -ms-backface-visibility: inherit;
    backface-visibility: inherit;
    -webkit-perspective: inherit;
    -moz-perspective: inherit;
    -ms-perspective: inherit;
    perspective: inherit;
}		
/* OpenLayers controls used as buttons in Toolbar */
.x-menu-item-icon{
	height:20px !important;
	width:20px !important;
}
.zoomin {
    background-image:url(../images/toolbar/search_add.png) !important;
}
.zoomout {
    background-image:url(../images/toolbar/search_remove.png) !important;
}
.zoomfull {
    background-image:url(../images/toolbar/globe_search.png) !important;
}
.pan {
    background-image:url(../images/toolbar/icon_pan.png) !important;
}
.aide {
    background-image:url(../images/toolbar/aide.gif) !important;
}
.bug {
    background-image:url(../images/toolbar/bug-small.png) !important;
}
.apropos {
    background-image:url(../images/toolbar/onebit_25.png) !important;
}
.getinfo {
    background-image:url(../images/toolbar/info.png) !important;
}
.measrCircle{
    background-image:url(../images/toolbar/measrcircle.png) !important;
}
.measrlinear{
    background-image:url(../images/toolbar/mActionMeasure.png) !important;
}
.measrpolgn{
    background-image:url(../images/toolbar/mActionMeasureArea.png) !important;
}
.print {
    background-image:url(../images/toolbar/print.png) !important;
}
.moveto{
    background-image:url(../images/toolbar/moveto.png) !important;
}
.drawpoint {
    background-image:url(../images/toolbar/draw_point_off.png) !important;
}
.drawline {
    background-image:url(../images/toolbar/add.png) !important;
}
.drawpolygon {
    background-image:url(../images/toolbar/draw_polygon_off.png) !important;
}
.modifyfeature {
    background-image:url(../images/toolbar/comment_edit.png) !important;
}
.deletefeature {
    background-image:url(../images/toolbar/delete.png) !important;
}
.next {
    background-image:url(../images/toolbar/next.png) !important;
}
.back {
    background-image:url(../images/toolbar/previous.png) !important;
}
.zoom-mrc{
	background-image:url(../images/toolbar/zoom_mrc.png) !important;
}
.zoom-reg-adm{
	background-image:url(../images/toolbar/zoom_region_adm.png) !important; 
}
.zoom-mun{
    background-image:url(../images/toolbar/zoom_mun.png) !important;
}
.zoom-hydro{
    background-image:url(../images/toolbar/zoom_hydro.png) !important;
}
.crochet{
    background-image:url(../images/toolbar/crochet.png) !important;
    background-repeat: no-repeat;
}

/* other */
ul.list {
    list-style-type: disc;
    font-size: 11px;
    padding: 0 0 0 16px;
}

#currentMousePositionElevation, 
#currentScaleComponent, 
#currentProjectionComponent, 
#currentTimeComponent,
#currentMousePositionComponent{
    float: left;
}
 
 
div.southPanel{
    padding: 0px 0px 0px 0px;
}

#metadataTable td{
    padding-left: 3px;
    padding-right: 3px;
}
.gx-map-control {
    z-index: 1000;
    position: absolute;
    left: 9px;
}
.zoomin {
    top: 61px;
}
.zoomout {
    top: 182px;
}
#north {
    padding: 5px 0px 0px 5px;
}

.generic_fullscreen_loading{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20001;
}
.generic_fullscreen_loading a {
    color: #225588;
}
.generic_fullscreen_loading .loading-mask {
    padding: 2px;
    width: 100%;
    height: 100%;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    background-color: white;
}
.generic_fullscreen_loading .loading-container {
    position: absolute;
    left: 45%;
    top: 40%;
    height: auto;
    border: 1px solid #ccc;
}
.generic_fullscreen_loading .loading-indicator {
    background: white;
    color: #444;
    font: bold 13px tahoma,arial,helvetica;
    padding: 10px;
    margin: 0;
    height: auto;
}
#loading-msg {
    font: normal 10px arial,tahoma,sans-serif;
}
.olControlLoadingPanel{
    /*background-image:url('./images/loading.gif');*/
    background-image:url(../images/app/loading.gif);
    background-position:bottom left;
    background-repeat:no-repeat;
}

/* PanPanel and ZoomPanel */
div#OpenLayers.Control.PanZoom_5_zoomout{
	display:none !important;
}
.olControlPanPanel div {
    background-image:url(../images/app/tool-sprites.gif) !important;
    font-size:0 !important;
    height:15px !important;
    width:15px !important;
}
.olControlPanPanel .olControlPanNorthItemInactive {
    background-position:15px -60px !important;
    left:16px !important;
}
.olControlPanPanel .olControlPanEastItemInactive {
    background-position:15px -120px !important;
    left:30px !important;
    top:16px !important;
}
.olControlPanPanel .olControlPanSouthItemInactive {
    background-position:15px -75px !important;
    left:16px !important;
    top:32px !important;
}
.olControlPanPanel .olControlPanWestItemInactive {
    background-position:15px -105px !important;
    left:2px !important;
    top:16px !important;
}
.olControlZoomPanel {
    left:21px !important;
}
.olControlZoomPanel div {
    background-image:url(../images/app/tool-sprites.gif) !important;
    font-size:0 !important;
    height:15px !important;
    width:15px !important;
}
.olControlZoomPanel .olControlZoomInItemInactive {
    background-position:15px -240px !important;
}
.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    display:none !important;
}
.olControlZoomPanel .olControlZoomOutItemInactive {
    background-position:15px -255px !important;
    top:123px !important;
}
.logout_btn {
    background-image:url(../images/app/Crystal_Clear_action_exit_20_20.png) !important;
    height:20px !important;
    width:20px !important;
}
.login_btn {
    background-image:url(../images/app/login.png) !important;
    height:24px !important;
    width:24px !important;
}
body .olControlAttribution {
    bottom: 0em !important; 
	font-size:smaller;
	color:#0000FF;
}

body .olControlAttribution  a:visited{
	color:#0000FF;
}
/*
.styleAttributionTable {
	color:#0000FF;
}
*/
#piv-bandeau {
    display:block; 
    position:relative; 
    margin-left:0px; 
    background:url(../images/app/piv_bandeau_fond.gif) repeat-x #fff; 
    width:100%; 
    height:100px; 
    vertical-align:top;
}

#piv-bandeau div.mo{
    display:block; 
    float:left;  
    clear:none; 
    margin:0; 
    padding:0; 
    text-align:left; 
    width:211px; 
    height:86px; 
    margin:0; 
    padding:0px; 
    background:white;
}

#piv-bandeau div.mo a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -5000em;
    text-decoration: none;
    background: url(../images/quebec/piv_quebec.gif) no-repeat 0 17px;
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

#piv-bandeau div.mo a:hover,
#piv-bandeau div.mo a:focus { text-decoration: none }
#piv-bandeau div.idSite {
    display: block;
    float: right;
    clear: right;
    line-height: 0;
    width: 727px;
    height: 57px;
    margin: 0;
    text-indent: -5000em;
}
#piv-bandeau a:hover { text-decoration: none }
#piv-bandeau a:focus { text-decoration: none }
body #piv-bandeau-navig {
    display: block;
    float: left;
    margin-left: 10px;
    width: 735px;
    margin-top: 0px;
}
body #piv-bandeau-navig ul { display: inline }
body #piv-bandeau-navig ul li {
    display: inline;
    list-style-type: none;
}
body #piv-bandeau-navig ul li a {
    text-decoration: none;
    color: #fff;
    font-family: arial, sans-serif;
    font-size: x-small;
    _font-size: 0.8em;
    text-decoration: none;
    margin: 0 5px;
}
body #piv-bandeau-navig ul li a:hover { text-decoration: underline }

.olLayerGoogleCopyright {
/* Enlever car apparait seulement si la couche Google est activ�e
	left: -9999px !important; 
    bottom: -9999px !important;*/
}
.olLayerGooglePoweredBy {
/* Enlever car apparait seulement si la couche Google est activ�e
	left: -9999px !important; 
    bottom: -9999px !important;*/
}

div.olControlMousePosition {
  bottom:15px !important;
  right:5px !important;
} 

.adr_valide {
	color : blue;
	link: blue;
}

.adr_modif {
	color : #FF7200;
	link: #FF7200;
}

.adr_delete {
	color : red;
	link: red;
}

.infoPosition{
    padding-top: 4px;
    text-align: center;
}

.GridCellInactif{
    color: #000000;
    background-color: #E0E0E0;
    padding: 2px;
}

#boutonConsoleDiv{
    position: absolute;
    bottom: 25px;
    right: 10px;
    display:none; 
    z-index: 50000;
}

#boutonConsoleDiv div{
    border: none;
}

.boutonConsole{
    height:35px;
    color:red;
    text-shadow:0 0 0.2em #F87, 0 0 0.2em #F87;
}

.gx-featureediting-delete {
    background-image: url("../images/toolbar/supprimer.png") !important;

}

.mesureComboUnite {
    width: 83px;
    height: 31px;
    margin: 4px 0px;
    background-color: #CCD9E8;
    border: none;
}

.cacher {
    display: none;
}

.infoObjetMore, .infoObjetLess {
    cursor: pointer;
}

.x-grid3-row:hover {
  background-color: #f2f2f2;
}

.layerArboLoading {
    position: relative;
    top: 3px;
    left: 5px;
}

#occurencesResultatsWindow .x-panel-body {
    overflow: auto;
}
