@charset "utf-8";
/* CSS Document */
/*Styles généraux*/
html{ background-repeat:repeat-x; background-position:top;}
body { background-repeat:repeat; /*overflow:scroll;*/ font-family:Arial, Helvetica, sans-serif;height: 100%;  }
div.degrade{background:url(../images/degradeblanc.png); background-repeat:repeat-x; background-position:top; }
header { width:1037px;  margin: 0 auto; font-size: 0.750em;}
/*Entête, Paragraphe, liste*/
h1.invisible{ display:none; height:0px; width:0px;}
h1{ font-size:2.000em; font-weight:bold; padding-bottom:1.000em; padding-top:1.500em; display:block;}
h1 span{ font-size:1.000em;line-height:1.3em; vertical-align: middle; width:662px; display:block; min-height:50px; float:left;}
h1 span.contentImg{ font-size:1.000em; line-height: 2.833em; vertical-align: middle; width:54px;}
.acc_colonne1 p, .acc_colonne1 ul li{ font-size: 1.167em; padding-bottom:0.833em;}
h2{ font-size:1.333em; color:#cc1505; font-weight:bold; padding-top:1.300em; padding-bottom:0.833em; display:block; clear:both; line-height:1.2em;}
h2.miseEnGarde{ color:#000000; font-size: 1.2em;}

h3{ font-size:1.250em; font-weight:bold; padding-top:1.000em; padding-bottom:1.100em; display:block; clear:both;}
h4{ font-size:1.083em; font-weight:bold; padding-top:0.800em; padding-bottom:1.000em; display:block; clear:both;}
h5{ font-size:1.000em; font-weight:bold; padding-top:0.600em; padding-bottom:0.900em; display:block; clear:both;}
h6{ font-size:1.000em; color:#686868; font-weight:bold; padding-top:0.600em; padding-bottom:0.900em; display:block; clear:both; text-transform:uppercase;}
	
p{ line-height:1.625em; padding-bottom:0.833em;}

figure img{border: solid 1px #d6d5d2;}
figcaption{color:#686868;padding-top:0.833em;}
figure.imageGauche{float: left; width:auto;}
p.imageGauche, div.imageGauche{float: left; width:460px; padding-left:30px; }
figure.imageAvecPaddingTop{padding-top:20px;}

div.imageGauche h2{padding-top:0px;}
div.imageGauche{padding-top:20px;}

.wrapper img.logo_declaration{padding-top:30px;}
/*PIV*/
header{ position:relative;}
header section.piv {margin: 0 auto;  min-height:14px; width:978px; margin-bottom:15px; min-height:78px;}
header section.piv nav ul{  background: #003399; width:763px; float:right;text-align:right; font-family:arial,sans-serif; font-size: x-small; padding-right:10px;min-height:auto; }
header section.piv nav ul li { display:inline-block; margin-left:10px;padding:1px; }
header section.piv nav ul li a { color:#FFFFFF; text-decoration:none;}
header section.piv nav ul li.portail { float:left;}
header section.piv img { float:left;}
header section.piv nav { float:left; width:754px; padding-top:57px;}

header section a.url{ float:left; padding-left:30px;}
header section a.logo{ float:right; padding-right:30px;}
/*Wrapper*/
.wrapper{ display:block;min-height:500px; background:#FFF; margin: 0 auto; font-size: 0.750em; clear:both; overflow:hidden;  }
.wrapper a:link{color:#074c8a; text-decoration:none; padding:3px; }
.wrapper a:visited {color:#074c8a; }
.wrapper a:hover {color:#FFF; background:#5b8200;  }
.wrapper a:active {color:#FFF; background:#5b8200;  }

.wrapper a.lienExterne:hover{background:none; color:#074c8a;}
.wrapper a.lienExterne:hover span {color:#FFF; background:#5b8200;  }


/*Section entête donnée*/
section.entetedonnee{ width:1037px; margin: 0 auto; display:block;background:url(../images/entetedonne.png); background-repeat:no-repeat; background-position:30px 0px; margin-top:20px; font-size:0.875em; position: relative; clear:both;}

section.entetedonnee nav{ padding-top:2px; padding-left:30px; width:790px;}
section.entetedonnee nav ul li a span{  background:url(../images/bordermenu.png); background-repeat:no-repeat; background-position:right; width:1px; height: 41px; display:block; position:absolute; right:0px;top:0px; z-index:1;}
section.entetedonnee nav ul li, section.entetedonnee nav ul li.ongletActif{ display:inline-block;  position:relative; }
section.entetedonnee nav ul li.ongletActif, section.entetedonnee nav ul li.ongletActif a.actif, section.entetedonnee nav ul li.ongletActif a:hover{  display:inline;}
section.entetedonnee nav ul li.ongletActif{ background:url(../images/selecteur.png) #FFF; background-repeat:no-repeat; background-position:top center; display:inline-block; }
section.entetedonnee nav ul li.ongletActif a{ background:none; }
section.entetedonnee nav ul li a{ color:#074c8a; text-decoration:none; text-shadow:2px 1px 0px #FFF; /*display:block;*/ padding:0 15px 0 15px; height:41px; line-height:41px; margin:0px; }
section.entetedonnee nav ul li a.actif, section.entetedonnee nav ul li a:hover { display:inline-block;  background:#FFF; color:#cc1505; text-decoration:none; text-shadow:2px 1px 0px #FFF; /*display:block;*/ padding:0 15px 0 15px; height:41px; line-height:41px; margin:0px;}

/*Utilitaire (Imprimer et taille du texte*/

section.entetedonnee nav.utilitaire{ width:116px; position:absolute; top:10px; right:0px; background:none;padding-right:30px;}
section.entetedonnee nav.utilitaire ul{ background:none;}
section.entetedonnee nav.utilitaire ul li a{ padding: 0px 3px; height:auto; line-height:inherit;}
section.entetedonnee nav.utilitaire ul li a:hover{ background:none; height:auto; line-height:inherit; padding: 0px 3px; }
section.entetedonnee nav.utilitaire ul li.impression{ margin-right:30px;}

/*Style Général*/

.acc_colonne1{ width:725px; float:left; padding-left:30px; padding-top:30px;  }
.acc_colonne1 ul li{ list-style-type:disc; list-style-position:outside;margin-left:15px; line-height:20px; }
.acc_colonne1 ul.deuxCols li{ float:left; width:337px; line-height: 2em; padding:0px;}
.acc_colonne1 ul.listeOrange{ background-image:url(../images/puce_orange.png); background-repeat: repeat-y; background-position: left; position:relative; margin-bottom:37px;}
.acc_colonne1 ul.listeOrange span{ background-image:url(../images/pointue_listeOrange.png); background-repeat: no-repeat; width:11px; height:6px; position:absolute; bottom:-6px; left:0px;}
.acc_colonne1 ul.listeOrange li{ background:url(../images/puce_blanche.png) no-repeat left; margin-left:3px; list-style:none; padding-left:15px;line-height: 2em; padding-bottom:0px;}

/*Liens de contact*/
.acc_colonne2{ width:222px; float:left;padding-right:30px; padding-left:30px; padding-top:30px;  }
.el_contact li { line-height:2.833em;  display:block; vertical-align:middle; list-style:none; }
.el_contact li a img, .el_contact li a span {  vertical-align:middle; }
.el_contact li a img{ margin-right:5px; }
.el_contact li a span { padding:3px; }
.el_contact li a:hover{color:#FFF; background:none;  }
.el_contact li a:hover span{color:#FFF; background:#5b8200; }
.el_contact {border-bottom: solid 1px #d6d5d2; padding-bottom:20px;}

/*Recherche de données*/
.recherche-donnees{ width:auto;}
.recherche-donnees input,  .recherche-donnees select{/*-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;*/ width:100%; border: solid 1px #4f9dc5;}
.accueil input{ min-width:187px; width:187px; border: solid 1px #4f9dc5;}
  .recherche-donnees select,   .recherche-donnees select option{ min-width:100%;}
.recherche-donnees label.gros{ font-size:1.167em; font-weight:bold; display:block; padding-top:15px; padding-bottom:10px;}
.recherche-donnees label{ font-weight:bold; display:block; padding-top:15px; padding-bottom:10px;}
.recherche-donnees .btn-recherche{ text-indent:-99999px; background:url(../images/acc_btn_recherche.png); height:20px; width:20px; min-width:20px; background-repeat:no-repeat; border:none; cursor:pointer;margin-left:5px; vertical-align:top;}
.recherche-donnees .btn-recherche-interne{ text-indent:-99999px; background:url(../images/btn-recherche-interne.png); height:20px; width:93px; min-width:93px; background-repeat:no-repeat; border:none; cursor:pointer;margin-top:10px; float:right;}

/*Coin publicité twitter*/
.wrapper .pub a {padding:0px; }
.pub img, .twitter{margin: 30px 0px 30px 0px; display:block; }
.twitter a{padding:0px; }
#twtr-widget-1 .twtr-tweet a:hover, .twtr-ft span a:hover{color:#fff!important; }
.twitter h3{ clear:none!important;}


/*Donnée en vedette*/
.donnees-vedette{min-height:100%; height:100%; padding-bottom:20px;  }
.donnees-vedette div{display: inline-block; width:219px; height: auto !important; 
height: 100%; 
min-height: 100%; border-top: solid 5px #d6d5d2; margin-right:30px; position:relative; padding-bottom:15px;vertical-align:top; }
.donnees-vedette div.grisFonce{ margin-right:0px; background:url(../images/bg_donnee_vedette_fonce.png) no-repeat bottom #eeedeb;}
.donnees-vedette div h2{ color:#cc1505; font-size: 1.333em; min-height:30px; padding:0px;}
.donnees-vedette div h2 a{line-height:20px;}
.donnees-vedette div img{ position:absolute;  left:-16px; top:-12px; margin-left:5px;}

.donnees-vedette div span{  padding-left:35px; display:block; padding-top:8px;}
.donnees-vedette div ul, .donnees-vedette div p{ padding-top:5px; margin-top:10px; border-top: solid 1px #d6d5d2; }
.donnees-vedette div p{ padding:15px; }
.donnees-vedette div p.sansBordure, .donnees-vedette div ul.sansBordure{ padding: 0px 15px 15px 15px; border:none;margin:0px; }
.donnees-vedette div ul.sansBordure li{list-style:none; margin:0px;}
.donnees-vedette div p a{ font-weight:bold;}
.donnees-vedette div ul li{ list-style-type:disc; list-style-position:outside;margin-left:30px; line-height: 1.5em; padding-bottom:6px;}

/*Footer*/
footer { clear:both; width:1037px; text-align:center;  padding:50px 0px;}
footer nav ul li {  display:inline-block; background:url(../images/sepateur-pied.png) no-repeat left ; padding-left:10px; list-style:none;}
footer nav ul li.premier { background:none;}
.wrapper footer div {
    margin: 0 auto;
    padding-bottom: 15px;
    width: 190px;
}
.wrapper footer div a{
	padding:0px!important;
}

.wrapper footer div a:hover {
	background-color:white;
}

footer img{ padding-top:20px; padding-bottom:10px;}
footer p{ padding-top:10px; padding-bottom:10px;}
form{ display:block;}


/*Fil d'ariane*/

.acc_colonne1 ul.ariane li { display:inline-block; background:url(../images/fil-ariane.png) no-repeat right center; padding-right:8px;list-style:none; margin:0px; padding-bottom:0px;}
.acc_colonne1 ul.ariane li.sansBg { display:inline-block; background:none;}

/*-----------------------------------------------------------------------------------------------------------------------------------*/

/*Style pour les fiches complètes*/

/*Tableaux (Identique pour l'ensemble du site)*/
.acc_colonne1 table th{ background:#eeedeb; width:222px; border-bottom:1px solid #d6d5d2;  padding:1.250em; text-align:right; font-weight:bold; line-height:1.400em;}
.acc_colonne1 table td{ width:505px; border-bottom:1px solid #d6d5d2; padding:1.250em; line-height:1.400em;}
.acc_colonne1 table { border-top:5px solid #d6d5d2; width:100%;}
.acc_colonne1 table td ul li{ font-size: 1.000em; line-height: 2em;} 

/*Bordure en bas des tableau *** RETIRÉ*/
.bordure-fiche{ background:url(../images/bordure_bas.png) no-repeat; display:block; width:726px; height:37px; margin-top:55px;}

/*Taille du balisage*/
.colonne1_interne_menu article{ float:right; width:550px; padding-left:30px;} 
.colonne1_interne_menu nav{ float:right; width:144px;} 

/*Menu fléché*/
.colonne1_interne_menu nav .listeInterne{border-top: solid 5px #d6d5d2; width:138px; text-align:left; }
.colonne1_interne_menu nav .listeInterne li {  list-style:none; width: 144px; margin:0px;  display:block;vertical-align:middle; padding:0px;}
.wrapper .colonne1_interne_menu nav .listeInterne li a{ display: block; background: #eeedeb; padding: 15px; width:108px; color:#074c8a;  border-bottom: solid 1px #d6d5d2}
.wrapper .colonne1_interne_menu nav .listeInterne li a:hover{ color:#cc1505; background:#FFFFFF; }
.colonne1_interne_menu nav .listeInterne li.ongletActif a{  display:block; background: #cc1505; padding: 15px; width:108px; position:relative; color:#FFFFFF; }
.colonne1_interne_menu nav .listeInterne li.ongletActif a:hover{ color:#FFFFFF; background: #cc1505;}

.colonne1_interne_menu nav .listeInterne li.ongletActif {    background: url("../images/pointue_menuPropos.png") no-repeat scroll center right #FFFFFF;
    display: inline-block;}

/*-----------------------------------------------------------------------------------------------------------------------------------*/

/*Style pour les résultat de recherche*/
/*Pagination*/
.colonne1_resultats .page li{ display:inline-block; margin-left:2px;}
.colonne1_resultats .page li a{ display:block; padding: 8px 5px; }
.colonne1_resultats .page li a.actif{ display:block; padding: 8px 5px; border: solid 1px #e44924; color: #cc1505; font-weight:bold; }
.colonne1_resultats .page li a.actif:hover{ display:block; padding: 8px 5px; border: solid 1px #FFF; color:#FFF; }
.colonne1_resultats .paginationBas{ padding-top:30px; }
.colonne1_resultats .page li a.premier{ background:url(../images/icon_precedent.png) no-repeat left center; padding-left:10px; }
.colonne1_resultats .page li a.dernier{ background:url(../images/icon_suivant.png) no-repeat right center; padding-right:10px; }
.colonne1_resultats .page li a.premier:hover{ background:url(../images/icon_precedent_blanc.png) no-repeat left center #5b8200;}
.colonne1_resultats .page li a.dernier:hover{ background:url(../images/icon_suivant_blanc.png) no-repeat right center #5b8200;  }
.colonne1_resultats .page li a.sansBordure{ border:none; }

/*Entête*/
.wrapper .colonne1_resultats h2 a{ display:block; background:#eeedeb; padding:9px 8px; line-height:1.5em; }
.wrapper .colonne1_resultats h2 a:hover{ display:block; background:#5b8200; padding:9px 8px; }
.wrapper .colonne1_resultats h2 a:hover span.motCherche{color: #FFF; }
.wrapper .colonne1_resultats .keyword a:hover span.motCherche{color: #FFF; }

/*Paragraphe*/
.colonne1_resultats p{ width:554px; display:inline-block; padding-right:15px;}
.colonne1_resultats p.format{ width:138px;display:inline-block; vertical-align:top; padding-right:0px; border-left: solid 1px #eeedeb; padding-left:10px;}

/*Mots clé*/
.wrapper .colonne1_resultats .keyword li{ display:inline-block; list-style:none; background:url(../images/sepateur-pied.png) no-repeat right center; padding-right:10px; padding-left:10px; padding-bottom:0px; margin:0px;}
.wrapper .colonne1_resultats .keyword li.premier{padding-left:0px; }
.wrapper .colonne1_resultats .keyword li.dernier{ background:none; }
.wrapper .colonne1_resultats .keyword { border-top: dotted 1px #eeedeb; display:block; padding-top:10px; margin-top:10px;}

/*Lien Consulter la fiche*/
.colonne1_resultats  .consulterFiche span,.consulterFiche img{    vertical-align: middle;}
.colonne1_resultats  .consulterFiche img{ margin-right:10px;}
.colonne1_resultats  .consulterFiche:hover{ background:none;}
.colonne1_resultats  .consulterFiche:hover span{ background:#5b8200;padding:3px;}.colonne1_resultats  .consulterFiche span{font-size:1.167em;}

/*Mot recherché*/
span.motCherche{color:#cc1505; font-weight:bold;}
/*-----------------------------------------------------------------------------------------------------------------------------------*/


/*Liens de contournement*/
ul li a.invisible{overflow: hidden; height:0px; display:block;}
ul li a.menu, ul li a.contenu, ul li a.accessibilite{color:#074c8a;text-decoration:none;  }
.contournement{position:absolute; top:0px; left:0px; }



/*Formulaire Pour nos joindre*/
form.nousJoindre { border-top: 5px solid #D6D5D2; font-size: 1.167em;}
form.nousJoindre div {display:block; width: 685px; clear:both; border-bottom: 1px solid #D6D5D2; padding:15px; overflow:auto;}
form.nousJoindre div label{display:block; width:300px; float:left;}
form.nousJoindre div span{float:left;color: #CC1505; font-size: 0.857em;}
form.nousJoindre div textarea, form div select, form div input{font-size:1.167em; margin-bottom:5px; border: solid 1px #4f9dc5;}
form.nousJoindre div textarea{ width:370px;}
.enErreur{ border: 1px solid #e44924; outline:#e44924;}
.resume{color: #CC1505; }
#soumettre{ display:block; background:url(../images/boutonSoumettre.png) no-repeat; width:68px; height:20px; text-indent:-99999px; border:none; cursor:pointer; float:left;
font-size: 0;
line-height: 0; ;
 }
  .addinto_sharebox_default {padding-bottom:10px; }
 .addinto_sharebox_default ul li a {padding:0px; }
  .addinto_sharebox_default ul li {display:inline-block; }
  
 .colonne1_resultats .consulterFiche span.precision{display:block; margin:0px; padding:0px; text-indent:-99999px; width:0px; height:0px; }
 