@charset "utf-8";
/* CSS Document */

header section.piv nav ul li, section.entetedonnee nav ul li, section.entetedonnee nav ul li.actif, footer nav ul li, section.entetedonnee nav ul li.ongletActif, .donnees-vedette div, .acc_colonne1 ul.ariane li, .acc_colonne1 ul.ariane li.sansBg, .colonne1_resultats .page li, .colonne1_resultats p, .colonne1_resultats p.format, .colonne1_resultats .keyword li,   .addinto_sharebox_default ul li{ display:inline;}

.acc_colonne1 {
 margin-right:0px;
 width:720px;
}

.acc_colonne1 ul.listeOrange span{ bottom:-3px; left:0px;}

.colonne1_interne_menu nav .listeInterne li.ongletActif {    background: url("../images/pointue_menuPropos.png") no-repeat scroll center right #FFFFFF;
    display: inline-block;}
	
section.entetedonnee nav.utilitaire{
top:0px;
}



/*sdivcdfivhfdi*/

/*Style Général*/

/*.acc_colonne1{ width:690px;  }
.bordure-fiche{ width:690px}*/

p.imageGauche, div.imageGauche{ width:434px;}



.colonne1_resultats p {
    width: 514px;
}

h1 span {

    width: 632px;
}
.acc_colonne1 ul.deuxCols li {
    float: left;
    line-height: 2em;
    padding: 0;
    width: 307px;
}

.acc_colonne1 ul.pagination li a {

    height: 12px;

    width: 15px;
}
