.container h4{
    border-bottom: orange 1px solid;
}

.oblig{
    font-size:0.6em;
    vertical-align:top;
    color:red;
}


.action-index .oblig,
.action-index .creer,
.action-index .editer{
    display:none;
}


/* igo_couche */
body.igo_couche label.pas-important{
    font-weight:normal;
}    
body.igo_couche hr{
    height:2px;
    background-color:grey;
}


.controller-mapfile-action-select [data-etat="ferme"] .etq-fermer, 
.controller-mapfile-action-select [data-etat="ouvert"] .etq-ouvrir{
    display:none;
}

.controller-mapfile-action-select [data-etat="ferme"] .etq-ouvrir,
.controller-mapfile-action-select [data-etat="ouvert"] .etq-fermer{
    display:visible;
}

.controller-mapfile-action-select [data-utilite="detail"]{
    display:none;
}