.retro-wizard h1,
.retro-wizard h3 {
	text-align: center;
}

.retro-wizard .wizard-nav{
	margin: 10px;
	height: 30px;
}

.retro-wizard .wizard-nav a,
.retro-wizard .wizard-nav button {
	width: 100px;
}

.retro-wizard .wizard-nav a {
	float: left;
}

.retro-wizard .wizard-nav button {
	float: right;
}

.critical td{
	background-color: #FFCC99 !important;
}

table#layers td {
	vertical-align: middle;
}

table#layers th {
	text-align: center;
}

table#layers th.action ,
table#layers td.action {
	width: 180px;
}

table#layers td.action input[type="checkbox"],
table#layers td.action input[type="radio"] {
	margin-left: 73px;
}

table#layers th.action input[type="checkbox"],
table#layers th.action input[type="radio"] {
	margin-left: 10px;
}

.radio input[type="radio"] {
	margin-top: 0px;
	margin-left: 0px;
}

.radio span {
	margin-top: 0px;
	margin-right: 5px;
	float: left;
}

#progress .wrap-active {
	background-color: white !important;
}

table#layers select {
	width: 100%;
}

table#layers select.danger {
    border-color: #A94442;
    color: #A94442;
    border-radius: 4px 4px 4px 4px;
}

table#layers option {
	color: #555555;
}

table#layers option.danger {
	color: #A94442;
}
